@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* سایر متغیرها... */
  }
  
  /* حذف کد زیر:
  @font-face {
    font-family: 'LoversQuarrel';
    src: url('/fonts/LoversQuarrel-Regular.ttf') format('truetype');
  }
  */
}